<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798966474399-vtrb036ek08sifbu3h38nrs5f5dlios5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798966474399-vtrb036ek08sifbu3h38nrs5f5dlios5</string>
	<key>API_KEY</key>
	<string>AIzaSyASDKr4-Sr9zY_bmISuzZ6H6zzQ-5XHvHs</string>
	<key>GCM_SENDER_ID</key>
	<string>798966474399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.o2yamagym.dscoreApp</string>
	<key>PROJECT_ID</key>
	<string>dscore-app-a72cf</string>
	<key>STORAGE_BUCKET</key>
	<string>dscore-app-a72cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798966474399:ios:2280140ce596a4404564aa</string>
</dict>
</plist>